@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
/* @import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"); */

body{
  background-color: #eee;
}
#root {
  max-width: 1200px;
  margin: 0 auto;
}
.link-card{
  cursor: pointer;
}
.container1 {
  display: flex;
  flex-wrap: wrap;
}
.card.mb-4{
  border: 3px solid gray;
  padding: 0;
}
.card {
  margin: 1rem;
  /* border: 1px solid gray; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 15px;
}
p.txtcolor{
font-size: 16px;
font-weight: bold;
line-height: 26px;
}
.card h1,h3,h2,.txtcolor {
  background: #39c2d7;
  color: #ffffff;
  text-transform: capitalize;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card p, h1, h3, h2, span, a {
  padding-left: 10px;
}
.container{
  background-color: #fff;
}
.jumbotron{
  background-color: #fff;
}
@media screen and (min-width: 600px) {
  .card {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: cal(50% - 2rem);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card img{
    max-height: 200px;
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33% - 2rem);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card img{
    max-height: 200px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  /* IE10+ specific styles go here */  
  .card {
    flex-grow:0;
    flex-shrink: 0;
    flex-basis: calc(30.4% - 2rem);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .card img{
    max-height: 200px;
  }
}
.newsUrlDiv{
  padding: 10px;
}

.newsUrlDiv span, a, .bold span {
  padding: 0;
}
.bold{
  font-weight: bold;
}
.normal{
  font-weight: normal;
}

.card-body {
  background: #39c2d7;
  color: #ffffff;
}


select.form-control{
  text-transform: capitalize;
}

.spinner {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
  position: relative;
  height: 50vh;
  display: none;
}

@-webkit-keyframes spinner {
  0% {
      -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
      -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes spinner {
  0% {
      -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
      -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.spinner.-paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0.2;
  transition: opacity linear 0.1s;
}

.spinner::before {
  -webkit-animation: 1.5s linear infinite spinner;
  animation: 1.5s linear infinite spinner;
  -webkit-animation-play-state: inherit;
  animation-play-state: inherit;
  border: solid 3px #dedede;
  border-bottom-color: #372CD1;
  border-radius: 50%;
  content: "";
  height: 40px;
  left: 50%;
  opacity: inherit;
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
}


/* Top nav Css styles */
.topnav {
  overflow: hidden;
  background-color: #222;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #39c2d7;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}